/**
 * @name meowcord
 * @description Meow discord theme.
 * @author sirqaf
 * @version 0.1
 * @source https://github.com/sirqaf/meowcord
 * @authorId 378003303918862357
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */

@import url('https://raw.githubusercontent.com/sirqaf/meowcord/main/meowcord.css');

/* change colors and variables here */
:root {
	/* amount of spacing and padding */
	--spacing: 3px;
	/* radius of round corners */
	--roundness: 10px;

	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* color of green online dot, change to #23a55a for default green */
	--online-indicator: #23a55a;

	/* color of links */
	--accent-1: hsl(212, 31%, 48%);
	/* color of unread dividers and some indicators */
	--accent-2: hsl(212, 31%, 48%);
	/* color of accented buttons */
	--accent-3: hsl(212, 31%, 48%);
	/* color of accented buttons when hovered */
	--accent-4: hsl(212, 31%, 60%);
	/* color of accented buttons when clicked */
	--accent-5: hsl(212, 31%, 48%);

	/* color of mentions and messages that mention you */
	--mention: hsla(212, 31%, 48%, 0.1);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: hsla(212, 31%, 48%, 0.05);

	/* color of bright text on colored buttons */
	--text-1: hsl(0, 0%, 70%);
	/* color of headings and important text */
	--text-2: hsl(0, 0%, 70%);
	/* color of normal text */
	--text-3: hsl(0, 0%, 70%);
	/* color of icon buttons and channels */
	--text-4: hsl(0, 0%, 70%);
	/* color of muted channels/chats and timestamps */
	--text-5: hsl(0, 0%, 70%);

	/* color of dark buttons when clicked */
	--bg-1: hsl(212, 31%, 60%);
	/* color of dark buttons */
	--bg-2: hsl(212, 31%, 48%); 
	/* color of spacing around panels and secondary elements */
	--bg-3: hsl(0, 0%, 7%);
	/* main background color */
	--bg-4: hsl(212, 31%, 0%);

	/* color of channels and icon buttons when hovered */
	--hover: hsla(230, 20%, 40%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(220, 20%, 40%, 0.2);
	/* color of messages when hovered */
	--message-hover: hsla(220, 0%, 0%, 0.1);

	/* top left icon */
	--cat-icon: block; /* change to 'none' to hide cat icon */
	--discord-icon: none; /* change to 'block' to show default discord icon */
}
